{% load budget_tags %}

<div class="row">
    <div class="col-7">
        <h2>Month Heatmap</h2>
        <table class="heatmap_table">
            <tr>
                {% for day in 31|genrange %}
                    <td class="heat-{% if heatmap_data.heatmap_normalized|lookup:day %}{{ heatmap_data.heatmap_normalized|lookup:day }}{% else %}0{% endif %}" data-region="{{ heatmap_data.heatmap_region_lookup|lookup:day }}">
                        {{ day }} ({% if heatmap_data.heatmap|lookup:day %}{{ heatmap_data.heatmap|lookup:day }}{% else %}0{% endif %})
                        <div class="heatmap_region">{{ heatmap_data.heatmap_region_lookup|lookup:day }}</div>
                    </td>
                    {% if day|mod:7 == 0 %}</tr><tr>{% endif %}
                {% endfor %}
            </tr>            
        </table>
    </div>
    <div class="col-7 col-offset-1">
        <h2>Week Heatmap</h2>
        <table class="heatmap_table">
            <tr>
            {% for weekday in heatmap_data.all_weekdays %}
                <td class="heat-{% if heatmap_data.weekday_heatmap_normalized|lookup:weekday %}{{ heatmap_data.weekday_heatmap_normalized|lookup:weekday }}{% else %}0{% endif %}">{{ weekday }} ({% if heatmap_data.weekday_heatmap|lookup:weekday %}{{ heatmap_data.weekday_heatmap|lookup:weekday }}{% else %}0{% endif %} / {% if heatmap_data.weekday_heatmap_normalized|lookup:weekday %}{{ heatmap_data.weekday_heatmap_normalized|lookup:weekday }}{% else %}0{% endif %})</td>
            {% endfor %}
            </tr>
        </table>
    </div>
</div>