<table id="record_group_table">
    <tr class="row">
        {% for column in recordgroup_data.record_group_columns|array_split:',' %}
            <th>{{ column }}</th>
        {% endfor %}
    </tr>
    {% for record_group in recordgroup_data.record_groups %}
    <tr id="recordgroup-{{ forloop.counter0 }}">
        {% for column in recordgroup_data.record_group_columns|array_split:',' %}
            <td data-clickyrow="recordgroup-{{ forloop.parentloop.counter0 }}">{{ record_group|lookup:column }}</td>
        {% endfor %}                
    </tr>
    {% endfor %}
</table>