{% load budget_tags %}

<table>
    <tr>
        {% for col in record_columns %}
            <th class="sort-column" data-sortvalue="{{ col }}">{{ col }}</th>
        {% endfor %}            
    </tr>
    {% for record in records %} 
        <tr id="{{ type }}-record-{{ record.id }}" {% if record_rules|lookup:record.id %}accounted{% else %}{% endif %}">
            {% for col in record_columns %}
                <td data-clickyrow="{{ type }}-record-{{ record.id }}">{{ record|lookup:col }}</td>
            {% endfor %}                                
        </tr>
    {% endfor %}
</table>
