{% load budget_tags %}

<div class="row">

    <div class="col-16">
        {% if stats %}
            Total in: ${{ stats|lookup:'totals'|lookup:'earn'|format_currency }}
            <br />
            Total out: ${{ stats|lookup:'totals'|lookup:'spend'|format_currency }}
            <br />
            Total: ${{ stats|lookup:'totals'|lookup:'total'|format_currency }}
            <br />
            Records: {{ stats|lookup:'totals'|lookup:'records' }}
        {% else %}
            I said no stats!
        {% endif %}
    </div>
    
    <div class="col-16">

        {% for criticality in table %}
        <h3>Showing {{ table|lookup:criticality|length }} {{ direction }} / {{ criticality }} rule sets</h3>
        
        <table class="transactionruleset-table">
            <tr>
                <th></th>
                <th>Priority</th>
                <th>Ruleset</th>        
                <th># Records</th>
                <th>xAcct</th>
                <th>Period</th>
                <th>avg pd/mo/yr</th>
                <th>$/month in</th>
                <th>$/month out</th>
            </tr>
            {% for transactionruleset in table|lookup:criticality %}        
            <tr id="transactionruleset-{{transactionruleset.id }}" title="{% if transactionruleset.prototransaction %}{{ transactionruleset.prototransaction.stats }}{% endif %}" class="ruleset-status-{% if transactionruleset.prototransaction %}{% if transactionruleset.prototransaction.is_active %}active{% else %}inactive{% endif %}{% else %}unknown{% endif %}">
                <td nowrap>
                    <div>
                        <a href="{% url "transactionruleset" tenant_id=1 transactionruleset_id=transactionruleset.id %}">manage rule set</a>
                    </div>
                    <div>
                        <a href="{%  url "transactionruleset_edit" tenant_id=1 transactionruleset_id=transactionruleset.id %}">edit rule set</a>
                    </div>
                    {% if not transactionruleset.is_auto %}
                    <div>
                        <a href="{%  url "transactionruleset_delete" tenant_id=1 transactionruleset_id=transactionruleset.id %}" class="delete" data-deletecallback="transactionruleset_deleted_handler">delete rule set</a>
                    </div>
                    {% endif %}
                    {% if transactionruleset.prototransaction %}
                    <div>
                        <a href="{% url "prototransaction_edit" tenant_id=1 prototransaction_id=transactionruleset.prototransaction.id %}">edit prototransaction</a>
                    </div>
                    {% endif %}
                </td>
                <td>{{ transactionruleset.priority }}</td>
                <td title="{% for transactionrule in transactionruleset.transactionrules.all %}#{{ forloop.counter }}. {% if forloop.counter0 > 0 %}{{ transactionruleset.join_operator }} {% endif %}{{ transactionrule.record_field }} {{ transactionrule.match_operator }} {{ transactionrule.match_value}}{% endfor %}">
                    {{ transactionruleset.name }}
                </td>        
                <td>{{ transactionruleset.records|length }}</td>
                {% if transactionruleset.prototransaction %}
                    <td class="prototransaction-field">{{ transactionruleset.prototransaction.cross_account }}</td>
                    <td class="prototransaction-field">
                        {% if direction %}
                        {% with call_args="period,"|add:direction %}
                        {{ transactionruleset.prototransaction|call:call_args }}
                        {% endwith %}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="prototransaction-field">
                        {% if direction %}
                        {% with call_args="average_for_period,"|add:direction %}
                        ${{ transactionruleset.prototransaction|call:call_args|format_currency }}
                        {% endwith %}
                        / 
                        {% with call_args="average_for_month,"|add:direction %}
                        {% with month_avg=transactionruleset.prototransaction|call:call_args %}
                        ${{ month_avg|format_currency }} / ${{ month_avg|mult:12|format_currency}}
                        {% endwith %}
                        {% endwith %}
                        {% else %}
                        -
                        {% endif %}
                    </td>                    
                    <td class="prototransaction-field" nowrap>
                        
                        {% for month in transactionruleset.prototransaction.stats.monthly %}
                        <div class="{% if forloop.counter0 < 3 %}monthly-stats{% else %}extended-monthly-stats{% endif %}">
                            {{ month|lookup:"month" }}: ${{ month|lookup:"credit"|format_currency }}
                        </div>
                        {% endfor %}               
                        
                    </td>
                    <td class="prototransaction-field" nowrap>
                        
                        {% for month in transactionruleset.prototransaction.stats.monthly %}
                        <div class="{% if forloop.counter0 < 3 %}monthly-stats{% else %}extended-monthly-stats{% endif %}">
                            {{ month|lookup:"month" }}: ${{ month|lookup:"debit"|format_currency }}
                        </div>
                        {% endfor %}
                    
                    </td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                {% endif %}
                
            </tr>        
            {% endfor %}
        </table>    
        
        {% endfor %}
    </div>
</div>

{% block script %}

<script language="javascript">

    function transactionruleset_deleted_handler(response) {

        if (response.success) {
            var txrulesetrow = document.querySelector("#transactionruleset-" + response.data.transactionruleset_id);

            if (txrulesetrow === null) {
                alert('the row for transactionruleset ' + response.data.transactionruleset_id + ' could not be found');
                return;             
            }

            txrulesetrow.remove();        
            
        } else {
            alert(response.message);
        }        
    }

</script>

{% endblock %}