{% load static %}

<!doctype html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "style/clear.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "style/budget.css" %}" />
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  
</head>
<body>

<div class="header">

	<div class="row">
		<div class="col-4">
			<h1 class="logo">Budget Badger</h1>
		</div>
		<div class="col-8 pull-right">
			<ul class="menu">
				<li><a href="{% url "model_list" tenant_id="1" %}">Accounts/Cards</a></li>
				<li><a href="{% url "files" tenant_id="1" %}">Files</a></li>
				<li><a href="{% url "records" tenant_id="1" %}">Records</a></li>			
				<li><a href="{% url "filters" tenant_id="1" %}">Filters</a></li>			
				<li><a href="{% url "transactionrulesets_list" tenant_id="1" %}">Rules</a></li>			
				<li><a href="{% url "transactions" tenant_id=1 %}">Transactions</a></li>
				<li><a href="{% url "projection" tenant_id="1" %}">Projection</a></li>
			</ul>		
		</div>
	</div>
	<div class="row">
		<div>
			<ul class="messages" style="display: none;">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>			
		</div>
	</div>
</div>

<div class="content">
	{% block content %}{% endblock %}
</div>

<script type="text/javascript" src="{% static "js/budget.js" %}"></script>

{% block script %}{% endblock %}

</body>

</html>
