{% load static %}

<!doctype html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "style/clear.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "style/budget.css" %}" />
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  
</head>
<body>

<div class="header">

	<div class="row">
		<div class="col-3">
			<h1 class="logo">Budget Badger</h1>
		</div>
		<div class="col-13 pull-right">
			<ul class="menu">
				{% url "model_list" tenant_id="1" as accounts_url %}
				<li class="{% if request.path == accounts_url %}selected{% endif %}"><a href="{{ accounts_url }}">Accounts/Cards</a></li>
				{% url "files" tenant_id="1" as files_url %}
				<li class="{% if request.path == files_url %}selected{% endif %}"><a href="{{ files_url }}">Files</a></li>
				{% url "records" tenant_id="1" as records_url %}
				<li class="{% if request.path == records_url %}selected{% endif %}"><a href="{{ records_url }}">Records</a></li>			
				{% url "filters" tenant_id="1" as filters_url %}
				<li class="{% if request.path == filters_url %}selected{% endif %}"><a href="{{ filters_url }}">Filters</a></li>			
				{% url "transactionrulesets_list" tenant_id="1" as rules_url %}
				<li class="{% if request.path == rules_url %}selected{% endif %}"><a href="{{ rules_url }}">Rules</a></li>
				{% url "transactionrulesets_auto" tenant_id="1" as groups_url %}
				<li class="{% if request.path == groups_url %}selected{% endif %}"><a href="{{ groups_url }}">Auto Groups</a></li>
				{% url "transactions" tenant_id="1" as transactions_url %}
				<li class="{% if request.path == transactions_url %}selected{% endif %}"><a href="{{ transactions_url }}">Transactions</a></li>
				{% url "projection" tenant_id="1" as projection_url %}
				<li class="{% if request.path == projection_url %}selected{% endif %}"><a href="{{ projection_url }}">Projection</a></li>
			</ul>		
		</div>
	</div>
	<div class="row">
		<div>
			<ul class="messages" style="display: none;">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>			
		</div>
	</div>
</div>

<div class="content">
	{% block content %}{% endblock %}
</div>

<script type="text/javascript" src="{% static "js/budget.js" %}"></script>

{% block script %}{% endblock %}

</body>

</html>
