{% load static %}
{% load budget_tags %}

<!doctype html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "style/clear.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "style/budget.css" %}" />
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  
</head>
<body>

<div class="header">

	<div class="row">
		<div class="col-3">
			<h1 class="logo">Budget Badger</h1>            
		</div>
		<div class="col-13 pull-right">
			<ul class="menu">
				{% for menuitem in menu %}					
					<li class="{% if request.path == menuitem|lookup:"url" %}selected{% endif %}">
                        <a href="{{ menuitem|lookup:"url" }}">{{ menuitem|lookup:"display" }}</a>
                    </li>
				{% endfor %}
			</ul>			
		</div>
	</div>
    <div class="row">
        <div class="col-16">            
            <!--
            Total expense: $100 (87% accounted, 12 records unaccounted)
            Total income: $100 (91% accounted, 9 records unaccounted)
            21% contiguous, March 12, 2023 - August 19, 2023 (152 days)                        
            -->
        </div>
    </div>
	<div class="row">
		<div>
			<ul class="messages" style="display: none;">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>			
		</div>
	</div>
</div>

<div class="content">
	{% block content %}{% endblock %}
</div>

<script type="text/javascript" src="{% static "js/budget.js" %}"></script>

<script language="javascript">

    function handleRecordMetaFormSubmit(e) {
        
        e.preventDefault();
                
        var form = e.target;
        
        var data = new FormData(form);
        var csrf = getCookie('csrftoken');

        var options = {
            method: form.method,
            body: data,
            headers: {
                "X-CSRFToken": csrf
            }
        }

        console.log('form data submitting');
        console.debug(data);
        
        fetch(form.action, options)
            .then((response) => {
                var responsej = response.json();
                return responsej;
            })
            .then((response) => {
                response.messages.forEach((e, i) => {
                    addErrorMessage(e);
                })                
                if (!response.success) {
                    e.target.value = response.data.original_record_type;
                }
            })
            .catch((error) => {
                addErrorMessage(error);
                console.error(error);
            });
    }

    function setRecordTypeSelectListener() {
        console.debug('selecting all form.record_meta for submit handling')
        document.querySelectorAll("form.record_meta").forEach((e, i) => {            
            console.debug('catching submit for ' + e);
            e.addEventListener("submit", handleRecordMetaFormSubmit);
        })        
    }

    document.addEventListener('DOMContentLoaded', function(e) {
        console.debug('dom loaded - calling setRecordTypeSelectListener')
		setRecordTypeSelectListener();
    });

</script>

{% block script %}



{% endblock %}

</body>

</html>
