{% extends "base.html" %}
{% load budget_tags %}

{% block content %}

<h2>Filter Management</h2>

<div class="row">
    <strong>Filters</strong> provides for <em>record type</em> annotations. The records shown here in bins of current record type assignments
    are <em>positive amount</em> records either associated with a credit card or having a description that implies it is one side of a transfer.
    All records are <em>unknown</em> by default. <em>internal</em>-annotated records are excluded from budgetary and projection-related searches, 
    as these operations are intended to identify actual outbound expenses and inbound earnings.
</div>

<ul id="tabs-recordtypes" class="tabs">
    {% for record_type in record_types %} 
        <li id="record_type-{{ record_type }}">{{ record_type }} ({{ records|lookup:record_type|length }})</li>
    {% endfor %}
</ul>

{% for record_type in record_types %} 
    {% with records=records|lookup:record_type record_type=record_type %}
    <div id="tabs-recordtypes-record_type-{{ record_type }}">
        {% include "_record_types_table.html" %}
    </div>
    {% endwith %}
{% endfor %}  

{% endblock %}


{% block script %}

<script language="javascript">

    function handleRecordTypeSelect(e) {
        
        e.preventDefault();
        
        record_id = e.target.dataset.recordid;

        var form = document.querySelector("form#form-recordtype-" + record_id);
        var data = new FormData(form);

        var options = {
            method: form.method,
            body: data
        }

        fetch(form.action, options)
            .then((response) => {
                var responsej = response.json();
                return responsej;
            })
            .then((response) => {
                addErrorMessage(response.message)
                if (!response.success) {
                    e.target.value = response.data.original_record_type;
                }
            })
            .catch((error) => {
                addErrorMessage(error);
                console.error(error);
            });
    }

    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll("select[name='record_type']").forEach(( e, i ) => {
            e.addEventListener('change', handleRecordTypeSelect);  
        });
    });

</script>

{% endblock %}