{% extends "base.html" %}
{% load budget_tags %}

{% block content %}

<h2>Record Format Management</h2>

<a href="{% url "model_edit" tenant_id=1 model_name="recordformat" %}">new record format</a>

<div class="row">
    <div class="col-16">
        <table>
            <tr>
                <th>Name</th>
                <th>CSV Columns</th>
                <th>Flow</th>
                <th>CSV Date Format</th>
                <th></th>
            </tr>
    {% for recordformat in recordformats %}

        <tr>
            <td>{{ recordformat.name }}</td>
            <td title="{{ recordformat.csv_columns }}">{{ recordformat.csv_columns|truncatechars:100 }}</td>
            <td>{{ recordformat.flow_convention }}</td>
            <td>{{ recordformat.csv_date_format }}</td>
            <td>
                <a href="{% url "model_edit" model_name="recordformat" tenant_id=1 model_id=recordformat.id %}">edit</a>
                <a href="{% url "model_edit" model_name="recordformat" tenant_id=1 model_id=recordformat.id %}" class="delete">delete</a>
            </td>
        </tr>

    {% endfor %}
    </table>
</div>

<h2>Account Management</h2>

<a href="{% url "model_edit" tenant_id=1 model_name="account" %}">new account</a>

<div class="row">
    <div class="col-16">
        <table>
            <tr>
                <th>Name</th>
                <th>Account #</th>
                <th>Record format</th>
                <th>Balance</th>
                <th>Balance at</th>            
                <th>Minimum balance</th>
                <th>Files</th>
                <th>Records</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>        
        {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.account_number }}</td>
                <td>{{ account.recordformat }}</td>
                <td>{{ account.balance }}</td>
                <td>{{ account.balance_at }}</td>
                <td>{{ account.minimum_balance }}</td>
                <td>{{ account.uploadedfiles.all|length }}</td>
                <td>{{ account.records.all|length }}</td>
                <td>{{ account.continuous_record_brackets.0.0 }}</td>
                <td>{{ account.continuous_record_brackets.0.1 }} ({{ account.continuous_record_brackets|length }})</td>
                <td>
                    <a href="{% url "model_edit" model_name="account" tenant_id=1 model_id=account.id %}">edit</a>
                    <a href="{% url "model_edit" model_name="account" tenant_id=1 model_id=account.id %}" class="delete">delete</a>
                </td>
            </tr>        
        {% endfor %}
    </table>
</div>

<h2>Credit Card Management</h2>

<a href="{% url "model_edit" tenant_id=1 model_name="creditcard" %}">new credit card</a>

<div class="row">
    <div class="col-16">
        <table>
            <tr>
                <th>Name</th>
                <th>Record format</th>
                <th>Account Number</th>
                <th>Interest Rate</th>
                <th>Billing Date</th>
                <th>Due Date</th>
                <th>Files</th>
                <th>Records</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>
    {% for creditcard in creditcards %}

        <tr>
            <td>{{ creditcard.name }}</td>
            <td>{{ creditcard.recordformat }}</td>
            <td>{{ creditcard.account_number }}</td>
            <td>{{ creditcard.interest_rate }}</td>
            <td>{{ creditcard.cycle_billing_date }}</td>
            <td>{{ creditcard.cycle_due_date }}</td>        
            <td>{{ creditcard.uploadedfiles.all|length }}</td>    
            <td>{{ creditcard.records.all|length }}</td>
            <td>{{ creditcard.continuous_record_brackets.0.0 }}</td>
            <td>{{ creditcard.continuous_record_brackets.0.1 }} ({{ creditcard.continuous_record_brackets|length }})</td>
            <td>
                <a href="{% url "model_edit" model_name="creditcard" tenant_id=1 model_id=creditcard.id %}">edit</a>
                <a href="{% url "model_edit" model_name="creditcard" tenant_id=1 model_id=creditcard.id %}" class="delete">delete</a>
            </td>
        </tr>

    {% endfor %}
    </table>
</div>

<h2>Property Management</h2>

<a href="{% url "model_edit" tenant_id=1 model_name="property" %}">new property</a>

<div class="row">
    <div class="col-16">
        <table>
            <tr>
                <th>Name</th>                
                <th>Address</th>                
                <th></th>
            </tr>
    {% for property in properties %}

        <tr>
            <td>{{ property.name }}</td>            
            <td>{{ property.address }}</td>
            <td>
                <a href="{% url "model_edit" model_name="property" tenant_id=1 model_id=property.id %}">edit</a>
                <a href="{% url "model_edit" model_name="property" tenant_id=1 model_id=property.id %}" class="delete">delete</a>
            </td>
        </tr>

    {% endfor %}
    </table>
</div>

<h2>Vehicle Management</h2>

<a href="{% url "model_edit" tenant_id=1 model_name="vehicle" %}">new vehicle</a>

<div class="row">
    <div class="col-16">
        <table>
            <tr>
                <th>Name</th>                
                <th>Make</th>                
                <th>Model</th>                
                <th>Year</th>                
                <th></th>
            </tr>
    {% for vehicle in vehicles %}

        <tr>
            <td>{{ vehicle.name }}</td>            
            <td>{{ vehicle.make }}</td>            
            <td>{{ vehicle.model }}</td>            
            <td>{{ vehicle.year }}</td>            
            <td>
                <a href="{% url "model_edit" model_name="vehicle" tenant_id=1 model_id=vehicle.id %}">edit</a>
                <a href="{% url "model_edit" model_name="vehicle" tenant_id=1 model_id=vehicle.id %}" class="delete">delete</a>
            </td>
        </tr>

    {% endfor %}
    </table>
</div>

<h2>Event Management</h2>

<a href="{% url "model_edit" tenant_id=1 model_name="event" %}">new event</a>

<div class="row">
    <div class="col-16">
        <table>
            <tr>
                <th>Name</th>                
                <th>Started</th>
                <th>Ended</th>
                <th>Records</th>
                <th>Total *</th>
                <th></th>
            </tr>
    {% for event in events %}

        <tr>
            <td>{{ event.name }}</td>         
            <td>{{ event.started_at }}</td>   
            <td>{{ event.ended_at }}</td>
            <td>{{ event.recordmetas.all|length }}</td>
            <td>${{ event.recordmetas.all|meta_to_record|lookup:"amount"|sum_numbers|format_currency }}</td>
            <td>
                <a href="{% url "event_manage" tenant_id=1 event_id=event.id %}">manage</a>
                <a href="{% url "model_edit" model_name="event" tenant_id=1 model_id=event.id %}">edit</a>
                <a href="{% url "model_edit" model_name="event" tenant_id=1 model_id=event.id %}" class="delete">delete</a>
            </td>
        </tr>

    {% endfor %}
    </table>
    <div class="col-4">
        <small>
        * - values shown here rely on backtracing through a non-distinct record fingerprint which possibly results in capturing more records than were originally tagged for this event. note that while this sounds scary, a record fingerprint is distinct for a transaction date, exact description text, and amount, so the additional unintended records very likely should be associated with the same event anyway. the process of backtracing also deduplicates the set of records collected, meaning if multiple records with the same fingerprint were actually tagged for the event and the non-distinct collection pooled the same record multiple times, we don't sum those amounts multiple times.
        </small>
    </div>

</div>

{% endblock %}

