{% extends "base.html" %}
{% load budget_tags %}

{% block content %}

<h2>Record Type Management</h2>

<a href="{% url "model_edit" tenant_id=1 model_name="recordtype" %}">new record type</a>

<div class="row">
    <div class="col-16">
        <table>
            <tr>
                <th>Name</th>
                <th>CSV Columns</th>
                <th>CSV Date Format</th>
                <th></th>
            </tr>
    {% for recordtype in recordtypes %}

        <tr class="{% if forloop.counter0|mod:2 == 0 %}even{% else %}odd{% endif %}">
            <td>{{ recordtype.name }}</td>
            <td>{{ recordtype.csv_columns|truncatechars:100 }}</td>
            <td>{{ recordtype.csv_date_format }}</td>
            <td>
                <a href="{% url "model_edit" model_name="recordtype" tenant_id=1 model_id=recordtype.id %}">edit</a>
                <a href="{% url "model_edit" model_name="recordtype" tenant_id=1 model_id=recordtype.id %}" class="delete">delete</a>
            </td>
        </tr>

    {% endfor %}
    </table>
</div>

<h2>Account Management</h2>

<a href="{% url "model_edit" tenant_id=1 %}">new account</a>

<div class="row">
    <div class="col-16">
        <table>
            <tr>
                <th>Name</th>
                <th>Account #</th>
                <th>Record Type</th>
                <th>Balance</th>
                <th>Balance at</th>            
                <th>Minimum balance</th>
                <th>Files</th>
                <th>Accounted Records</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>        
        {% for account in accounts %}
            <tr class="{% if forloop.counter0|mod:2 == 0 %}even{% else %}odd{% endif %}">
                <td>{{ account.name }}</td>
                <td>{{ account.account_number }}</td>
                <td>{{ account.recordtype }}</td>
                <td>{{ account.balance }}</td>
                <td>{{ account.balance_at }}</td>
                <td>{{ account.minimum_balance }}</td>
                <td>{{ account.uploadedfiles.all|length }}</td>
                <td>{{ account.accounted_records.all|length }} / {{ account.records.all|length }}</td>
                <td>{{ account.continuous_record_brackets.0.0 }}</td>
                <td>{{ account.continuous_record_brackets.0.1 }} ({{ account.continuous_record_brackets|length }})</td>
                <td>
                    <a href="{% url "model_edit" model_name="account" tenant_id=1 model_id=account.id %}">edit</a>
                    <a href="{% url "model_edit" model_name="account" tenant_id=1 model_id=account.id %}" class="delete">delete</a>
                </td>
            </tr>        
        {% endfor %}
    </table>
</div>

<h2>Credit Card Management</h2>

<a href="{% url "model_edit" tenant_id=1 model_name="creditcard" %}">new credit card</a>

<div class="row">
    <div class="col-16">
        <table>
            <tr>
                <th>Name</th>
                <th>Record Type</th>
                <th>Account Number</th>
                <th>Interest Rate</th>
                <th>Billing Date</th>
                <th>Due Date</th>
                <th>Files</th>
                <th>Records</th>
                <th></th>
            </tr>
    {% for creditcard in creditcards %}

        <tr class="{% if forloop.counter0|mod:2 == 0 %}even{% else %}odd{% endif %}">
            <td>{{ creditcard.name }}</td>
            <td>{{ creditcard.recordtype }}</td>
            <td>{{ creditcard.account_number }}</td>
            <td>{{ creditcard.interest_rate }}</td>
            <td>{{ creditcard.cycle_billing_date }}</td>
            <td>{{ creditcard.cycle_due_date }}</td>        
            <td>{{ creditcard.uploadedfiles.all|length }}</td>    
            <td>{{ creditcard.accounted_records.all|length }} / {{ creditcard.records.all|length }}</td>
            <td>
                <a href="{% url "model_edit" model_name="creditcard" tenant_id=1 model_id=creditcard.id %}">edit</a>
                <a href="{% url "model_edit" model_name="creditcard" tenant_id=1 model_id=creditcard.id %}" class="delete">delete</a>
            </td>
        </tr>

    {% endfor %}
    </table>
</div>




{% endblock %}

