{% extends "base.html" %}
{% load budget_tags %}

{% block content %}

<h2>Record Management</h2>

<a href="{% url "records" tenant_id=1 %}?hide_accounted={% if hide_accounted %}0{% else %}1{% endif %}&hide_internal={% if hide_internal %}1{% else %}0{% endif %}">{% if hide_accounted %}show accounted{% else %}hide accounted{% endif %}</a>
<a href="{% url "records" tenant_id=1 %}?hide_accounted={% if hide_accounted %}1{% else %}0{% endif %}&hide_internal={% if hide_internal %}0{% else %}1{% endif %}">{% if hide_internal %}show internal{% else %}hide internal{% endif %}</a>

<ul id="tabs-records" class="tabs">
    {% for account in records_by_account %} 
        <li class="account" id="account-{{ account.obj.id }}">{{ account.obj.name }} {{ account.obj.account_number }} ({{ account.records|length }})</li>
    {% endfor %}
    {% for creditcard in records_by_creditcard %} 
        <li class="creditcard" id="creditcard-{{ creditcard.obj.id }}">{{ creditcard.obj.name }} ({{ creditcard.records|length }})</li>
    {% endfor %}    
</ul>

{% for account in records_by_account %} 
    {% with records=account.records type="account" %}
    <div id="tabs-records-account-{{ account.obj.id }}" class="accounting-table">
        {% include "_records_table.html" %}
    </div>
    {% endwith %}
{% endfor %}  
{% for creditcard in records_by_creditcard %} 
    {% with records=creditcard.records type="creditcard" %}
    <div id="tabs-records-creditcard-{{ creditcard.obj.id }}" class="accounting-table">
        {% include "_records_table.html" %}
    </div>
    {% endwith %}
{% endfor %}    

<form id="transaction_form" method="POST" action="{% if transaction_type %}{% url "transaction_new" tenant_id=1 %}{% endif %}">
    {% csrf_token %}
    <input type="hidden" name="record_ids" value="{{ record_ids }}" />
</form>

{% endblock %}

{% block script %}

<script language="javascript">

    // var baseRuleSetUrl = '{# url "transactionruleset_create" tenant_id=1 rule="nothing:contains:nothing" #}';
    document.addEventListener('DOMContentLoaded', function() {

        // document.querySelectorAll(".ruleclick").forEach((el, i) => {
        //     el.addEventListener('click', (e) => {
        //         e.preventDefault();
        //         var col = el.dataset.rule.split('=')[0];
        //         var val = el.dataset.rule.split('=')[1];
        //         document.location = baseRuleSetUrl.replace(/nothing:contains:nothing/, col + ":contains:" + val)
        //     })
        // })
        document.querySelectorAll(".sort-column").forEach((el, i) => {
            el.addEventListener('click', (e) => {
                e.preventDefault();
                var this_sort = el.dataset.sortvalue;
                if (this_sort == "{{ record_sort }}") {
                    this_sort = "-" + this_sort;
                } else if ("-" + this_sort == "{{ record_sort }}") {
                    // tick already removed
                }
                document.location = document.location.origin + document.location.pathname + "?sort=" + this_sort;
            });
        });

        // document.querySelector("#create_transaction").addEventListener('click', (e) => {
        //     e.preventDefault();
        //     var transaction_form = document.querySelector("#transaction_form");
        //     transaction_form.submit();
        // })
    });
</script>

{% endblock %}