{% extends "base.html" %}
{% load budget_tags %}

{% block content %}

<h2>Sorter</h2>

<form id="tag_form">
    {% csrf_token %}
    <input type="hidden" name="tag_value" value="" />
    <div>
        {% for token in tokens %}
        <button value="{{ token }}" class="tag_button">{{ token }}</button>
        {% endfor %}
    </div>
</form>

<div>
    <div id="form_errors"></div>

    <form id="ruleform" method="POST">
        {% csrf_token %}

        {{ form.as_p }}        
        <div>
            {% include "_transactionrule_formset.html" %}
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
</div>

<table class="clicky-table">
    {% for record in records %}
        <tr title="{{ record.extra_fields }}" class="{% if forloop.counter0|mod:2 == 0 %}even{% else %}odd{% endif %} {% if record_rules|lookup:record.id %}accounted{% else %}{% endif %}">
            <td>
                {{ record.transaction_date }}
            </td>
            <td>
                {{ record.uploaded_file.account_name }}
            </td>
            <td>
                {{ record.description }}
            </td>
            <td>
                {{ record.amount }}
            </td>
            <td>
                {% include "_record_type_select.html" %}
            </td>

        </tr>
    {% endfor %}
</table>

{% endblock %}

{% block script %}
<script language="javascript">
    var tag_form;
    document.addEventListener("DOMContentLoaded", (e) => {
        tag_form = document.querySelector("#tag_form");
        var hidden = tag_form.querySelector("input[name='tag_value']");
        document.querySelectorAll("button.tag_button").forEach((e, i) => {
            e.addEventListener("click", (bce) => {
                bce.preventDefault();
                bce.target.classList.add('selected')
                hidden.value = bce.target.value;
                var options = {
                    method: "POST",
                    body: new FormData(tag_form)
                }
                console.log(options);
                fetch("{% url "select_tag" tenant_id=1 %}", options)
                    .then((response) => {
                        return response.json();
                    })
                    .then((responsej) => {
                        console.log(responsej);
                        if (responsej.success) {
                            addPopulatedRuleForm('filter', 'description', 'contains', responsej.data.tag_value, bce)
                        }
                    })
                    .catch((error) => {
                        console.error(error);
                    })
                    
            })
        })
    })
</script>
{% endblock %}