{% extends "base.html" %}
{% load budget_tags %}

{% block content %}

<!--
    { 'results':
        {
            'recordmeta_base_results': {
                'header'
                'records': []
                'matches': {
                    'core_matches': {
                        'header'
                        'lookup': {}
                    }
                }
            },
            'record_base_results': {
                'header'
                'records': []
                'matches': {
                    'field_matches': {
                        'header'
                        'lookup': {}
                    },
                    'fuzzy_matches': {
                        'header'
                        'lookup': {}
                    }
                }
            }
        }
-->
<div class="row">
    <div class="col-16">
        <h3>Record Tracing by <strong>{{ trace_by }}</strong></h3>

        <ul id="tabs-tracing" class="tabs">
            {% for r in results %}
                {% for m in results|lookup:r|lookup:"matches" %}
                    <li id="{{ m }}">{{ m }}</li>
                {% endfor %}
            {% endfor %}
        </ul>

        {% for r in results %}
            {% for m in results|lookup:r|lookup:"matches" %}
                <div id="tabs-tracing-{{ m }}">
                    {% include "_tracing_results_table.html" with records=results|lookup:r|lookup:"records" lookup=results|lookup:r|lookup:"matches"|lookup:m|lookup:"lookup'" header=results|lookup:r|lookup:"header" match_header=results|lookup:r|lookup:"matches"|lookup:m|lookup:"header" %}
                </div>
            {% endfor %}
        {% endfor %}
        
    </div>
</div>

{% endblock %}

{% block script %}
<script language="javascript">
    
</script>
{% endblock %}