{% extends "base.html" %}
{% load budget_tags %}

{% block content %}

{% if message %}
<div>
    {{ message }}
</div>
{% endif %}

<a href="{% url "transactionruleset_create" tenant_id=1 %}">create rule</a>

{% for transactionruleset in transactionrulesets %}
    <div>
        <h3>{{ transactionruleset.name }} - {{ transactionruleset.transactionrules.all|length }} rules</h3>
        <h4>{{ transactionruleset.records|length }} Records -> {{ transactionruleset.transaction }}</h4>
        <h4>
            <div>{{ transactionruleset.join_operator }}</div>
        </h4>
        <div>
            {% for transactionrule in transactionruleset.transactionrules.all %}
                <div>
                    #{{ forloop.counter }}. {{ transactionrule.record_field }} {{ transactionrule.match_operator }} {{ transactionrule.match_value}}            
                </div>
            {% endfor %}
        </div>
        
        <div>
            <a href="{%  url "transactionruleset_edit" tenant_id=1 transactionruleset_id=transactionruleset.id %}">edit</a>
            <a href="{%  url "transactionruleset_edit" tenant_id=1 transactionruleset_id=transactionruleset.id %}" class="delete">delete</a>
        </div>        
    </div>
{% endfor %}

{% endblock %}