{% extends "base.html" %}
{% load budget_tags %}

{% block content %}

<div class="row">
    <div class="col-16">
        <h3>{% if transactionruleset_form.id.value %}Editing{% else %}Creating New{% endif %} Transaction Rule Set {% if transactionruleset_form.id.value %}"{{ transactionruleset_form.name.value }}"{% endif %}</h3>
        <div>
            <a href="{% url "transactionruleset" tenant_id=1 transactionruleset_id=transactionruleset_form.instance.id %}">manage rule set</a>
        </div>        
        {% if transactionruleset_form.instance.prototransaction %}
        <div>
            <a href="{% url "prototransaction_edit" tenant_id=1 prototransaction_id=transactionruleset_form.instance.prototransaction.id %}">edit prototransaction</a>
        </div>
        {% endif %}
        <div>
            <a href="{%  url "transactionrulesets_list" tenant_id=1 %}">rule sets</a>
        </div>
        <div>
            {% if transactionruleset_form.instance %}
                credit:                 
                {% if transactionruleset_form.instance.prototransaction.stats.credit.average_for_month %}
                    avg/mo: {{ transactionruleset_form.instance.prototransaction.stats.credit.average_for_month }}
                {% else %}
                    msg: {{ transactionruleset_form.instance.prototransaction.stats.credit.messages }}
                {% endif %}
                debit: 
                {% if transactionruleset_form.instance.prototransaction.stats.debit.average_for_month %}
                    avg/mo: {{ transactionruleset_form.instance.prototransaction.stats.debit.average_for_month }}
                {% else %}
                    msg: {{ transactionruleset_form.instance.prototransaction.stats.debit.messages }}
                {% endif %}
            {% endif %}
        </div>
        <div id="form_errors"></div>
    </div>
</div>

<div class="row">
    <div class="col-16">

    {% if transactionruleset_form.id.value %} 
        <form id="ruleform" method="POST" action="{% url "transactionruleset_edit" tenant_id=1 transactionruleset_id=transactionruleset_form.id.value %}">
    {% else %}
        <form id="ruleform" method="POST" action="{% url "transactionruleset_create" tenant_id=1 %}">
    {% endif %}

            {% csrf_token %}

            <div id="ruleset_form">
                {% include "_transactionruleset_form.html" %}
            </div>
            
            <div id="rule_formset">
                {% include "_transactionrule_formset.html" %}
            </div>

            <input type="submit" name="save" value="save" />
            <a href="{% url "transactionrulesets_list" tenant_id=1 %}">cancel</a>
        
        </form>

        {% include "_record_matcher_results.html" %}
    </div>
</div>

{% endblock %}

<!--
    
<script language="javascript">
/*
    var form;
    
    function formSubmit(e) {

        e.preventDefault();
        
        var options = {
            method: form.method,
            body: new FormData(form),
        }

        var ruleset_submission = fetch(form.action, options)
            .then((response) => {
                controller = undefined;
                var responsej = response.json();
                document.location = '{# url "transactionrulesets_list" tenant_id=1 #}';
                console.error('somehow we did not redirect on the response!')
            })
            .catch((error) => {
                console.error(error);
            });

        return false;
    }

    document.addEventListener('DOMContentLoaded', (e) => {

        form = document.querySelector("#ruleform");

        form.addEventListener('submit', formSubmit);

        // document.querySelector("input[name='rule']").addEventListener('keyup', updateResults);
        // document.querySelector("select[name='operation']").addEventListener('change', updateResults);
        // document.querySelector("select[name='recordfield']").addEventListener('change', updateResults);

    });
*/
</script>

-->