body {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 18px;
	margin-bottom: 28px;
	margin: 0;
	padding: 0;
	background-color: #ccffcc;
}

li {
	background-color: #ccffcc;	
}

li.selected {
	background-color: #99ff99;
}

ul.errorlist, div.error {
	color: #cc0000;
	font-weight: bold;
}

body.dark {
	background-color: #333333;
	color: #cccccc;
}

.header {
	background-color: #006600;
	position: fixed;
	width: 100%;
	height: 77px;
	top: 0px;	
	padding: 15px;
}

.header h1 {
	color: #33cc33;
}

.messages {
	border: 1px solid red;
}

.content {
	margin: 87px 0 0 10px;  /* header height + padding + 10px */
}

body.dark #tabs > div {
	background-color: #666666;
	color: #cccccc;
}

body.dark #tabs > div.selected {
	background-color: #999999;
	color: #333333;
}

.hidden {
	display: none;
}

ul.menu > li,
ul.tabs > li {
	display: inline-block;
	padding: 12px;
	width: 150px;	
	text-align: center;	
	border: 1px solid black;
	color: #999999;
	font-weight: normal;	
}

ul.tabs > li.selected {	
	color: black;
	font-weight: bold;
}

.negative {
	color: red;
}

form div {
	margin: 0em;
}

form label {
	font-size: 1.2em;
}

input {
	font-size: 1.2em;
}

input[type='file'] {
	width: 100%;
}

table.heatmap_table td {
	padding: 1em;
}

.heat-0 {
	background-color: white;
}

.transaction_intake_form {
	margin: 1em 0em;
	padding-bottom: 1em;
	border-bottom: 3px solid #cccccc;
}

.transaction_intake_form > p {
	display: inline;
}

.heatmap_region {
	position: relative;
	margin-right: -15px;
	margin-top: -15px;
	float: right;
	font-size: x-small;
}

.heat-4,
.heat-5,
.heat-6,
.heat-7,
.heat-8 {
	background-color: #ffffcc;
}

.heat-10 {
	background-color: #ffff99;
}

.heat-12 {
	background-color: #ffff66;
}

.heat-20 {
	background-color: #ffff33;
}

.heat-30 {
	background-color: #ffff00;
}

.heat-40 {
	background-color: #ffcc00;
}

.heat-50 {
	background-color: #ffa500;
}

.heat-60 {
	background-color: #ff6600;
}

.heat-70 {
	background-color: #ff3300;
}

.heat-80 {
	background-color: #ff0000;
	color: white;
}

.heat-90 {
	background-color: #cc0000;
	color: white;
}

.heat-100 {
	background-color: #990000;
	color: white;
}