body {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 18px;
	margin-bottom: 28px;
	margin: 0;
	padding: 0;
	background-color: #ccffcc;
}

a.button {
	border: 1px solid black;
	padding: 3px;
	text-align: center;
}

li {
	background-color: #ccffcc;	
}

li.selected {
	background-color: #99ff99;
}

ul.errorlist, div.error {
	color: #cc0000;
	font-weight: bold;
}

body.dark {
	background-color: #333333;
	color: #cccccc;
}

.header {
	background-color: #006600;
	position: fixed;
	width: 100%;
	height: 77px;
	top: 0px;	
	padding: 15px;
}

.header h1 {
	color: #33cc33;
}

.messages {
	border: 1px solid red;
}

.content {
	margin: 87px 0 0 10px;  /* header height + padding + 10px */
}

body.dark #tabs > div {
	background-color: #666666;
	color: #cccccc;
}

body.dark #tabs > div.selected {
	background-color: #999999;
	color: #333333;
}

.hidden {
	display: none;
}

ul.menu > li,
ul.tabs > li {
	display: inline-block;
	/* padding: 12px; */
	width: 150px;
	text-align: center;
	border: 1px solid black;
	align-items: center;
	/* color: #999999; */
	/* font-weight: normal;	 */
}

ul.tabs > li.selected {	
	color: black;
	font-weight: bold;
}

ul.tabs li.account,
ul.tabs li.creditcard {
	padding: .5em;	
}

.negative {
	color: red;
}

form div {
	margin: 0em;
}

form label {
	font-size: 1.2em;
}

input {
	font-size: 1.2em;
}

input[type='file'] {
	width: 100%;
}

table {
    font-weight: 100;
    font-size: 0.9em;
}

table#record_group_table {
    margin-left: -100px;
    margin-right: 30px;
}

table tr th{
}

table tr.even {
    background-color: #66cc66;
    color: #000;
}

table tr.odd {
    background-color: #99ff99;
    color: #000;
}

table.records-table tr{
	color: #666;
}

table.records-table tr.accounted {
	color: #000;
}

table tr:hover {
    background-color: #00ff00;
}

table tr.selected {
    background-color: #00ff00;
}



table tr td {
    padding: .5em;
    word-wrap: normal;
}

table.heatmap_table td {
	width: 100px;
	height: 50px;
}

.heat-0 {
	background-color: white;
}

.transaction_intake_form {
	margin: 1em 0em;
	padding-bottom: 1em;
	border-bottom: 3px solid #cccccc;
}

.transaction_intake_form > p {
	display: inline;
}

td[class*="heat-"] {
}

td[class*="heat-"] span.day {
	font-weight: bold;
	position: relative;
	float: left;
	font-size: 1.5em;
	margin-top: -10px;
	margin-left: -5px;
}

td[class*="heat-"] span.heat {
	color: #990000;
	margin-left: 5px;	
	font-size: 2em;
}

td[class*="heat-"] span.heatmap_region {
	color: #009900;
	position: relative;
	margin-right: -3px;
	margin-top: -10px;
	float: right;
	font-size: x-small;
}

.heat-4,
.heat-5,
.heat-6,
.heat-7,
.heat-8 {
	background-color: #ffffcc;
}

.heat-10 {
	background-color: #ffff99;
}

.heat-12 {
	background-color: #ffff66;
}

.heat-20 {
	background-color: #ffff33;
}

.heat-30 {
	background-color: #ffff00;
}

.heat-40 {
	background-color: #ffcc00;
}

.heat-50 {
	background-color: #ffa500;
}

.heat-60 {
	background-color: #ff6600;
}

.heat-70 {
	background-color: #ff3300;
}

.heat-80 {
	background-color: #ff0000;
	color: white;
}

.heat-90 {
	background-color: #cc0000;
	color: white;
}

.heat-100 {
	background-color: #990000;
	color: white;
}