{% extends "base.html" %}
{% load budget_tags %}

{% block content %}

<style type="text/css">
.payment-overpayment{
	color: red;
}
</style>

<h1>Projection</h1>

<div>
	<form id="run_projections">
		{% csrf_token %}
		<div>
			Starting cash: <input type="text" name="starting_cash" value="" />
		</div>
		<div>
			Minimum balance: <input type="text" name="minimum_balance" value="" />
		</div>
		<input type="submit" value="Run Projections" />
	</form>
</div>

<table>
	<tr>
		<th>Payment At</th>
		<th>Transaction</th>
		<th>Amount</th>
		<th>Overpayment</th>
		<th>Balance</th>
	</tr>
{% for payment in payments %}
	<tr class="payment {% if payment.overpayment != 0 %}payment-overpayment{% endif %}">
		<td>{{payment.payment_at}}</td>
		<td>{{payment.transaction.name}} {% if payment.transaction.transaction_type == 'single' %}{{payment.transaction.creditcardtransaction}}{% endif %}</td>
		<td>{{payment.transaction|real_amount:payment.payment_at}}</td>
		<td>{{payment.overpayment}}</td>
		<td>{{payment.balance}}</td>
	</tr>
{% endfor %}

{% endblock %}

{% block script %}

	<script type="text/javascript">

		$(document).on("submit", "#run_projections", function(e){

			$.ajax({
				url: "{% url "run_projections" %}",
				type: 'POST',
				data: $(this).serialize(),
				dataType: "json",
				success: function(data, textStatus, jqXHR){
					if(data.error){
						alert(data.message);
					}else{
						document.location = document.location;
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert(errorThrown);
				}
			});

			return false;
		});

	</script>

{% endblock %}